<h2>Sign Up</h2>

<div class="card">
    <div class="card-header">
        Login Form
    </div>
    <div class="card-body">
        <form action="{{ next }}" method="post">

            <table class="table table-hover">
                <tr>
                    <td style="width:30em"><label>Email:</label></td>
                    <td><input type="text" name="email" class="form-text"></td>
                </tr>
                <tr>
                    <td><label>Password:</label></td>
                    <td><input type="password" name="password" class="form-text"></td>
                </tr>
                <tr>
                    <td><label>First Name:</label></td>
                    <td><input type="text" name="first" class="form-text"></td>
                </tr>
                <tr>
                    <td><label>Last Name:</label></td>
                    <td><input type="text" name="last" class="form-text"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Register" class="button"></td>
                </tr>
            </table>

            <input type="hidden" name="action" value="register">
            <input type="hidden" name="next" value="{{ next }}">

        </form>
    </div>
</div>
